<div id="card">
  <div id="card-tittle">{{title}}</div>
  <div id="card-content">
      <div *ngFor="let el of items, let i = index" >
        <div draggable="true" id="item">
          <div>{{i + 1}}</div>
          <div>{{el.content}}</div>
          <img src="../../assets/icons/pen.png" (click)="editItemEv({
          id: el.id, status: 'done', content: el.content, checked: el.checked })" />
          <img src="../../assets/icons/cancel.png" (click)="removeItemEv(el.id)" />
        </div>
      </div>
  </div>
</div>
