<div id="app">
  <app-header></app-header>
  <div id="add-btn" (click)="addItem('to-do','Second item for to-do', true)" >
    Add a new task
  </div>
  <div id="content">
    <div class="animation-container">
      <app-animated-sq></app-animated-sq>
    </div>
    <div id="card-content">
      <app-card title="To do"
                (editItemEvent)="editItem($event)"
                (removeItemEvent)="removeItem($event)"
                [items]="filterItems('to-do')">

      </app-card>
      <app-card title="In progress"
                (editItemEvent)="editItem($event)"
                (removeItemEvent)="removeItem($event)"
                [items]="filterItems('in-progress')">

      </app-card>
      <app-card title="Done"
                (editItemEvent)="editItem($event)"
                (removeItemEvent)="removeItem($event)"
                [items]="filterItems('done')">
      </app-card>
    </div>
    <div class="animation-container">
      <app-animated-sq></app-animated-sq>
    </div>
    <button (click)="openModal()">Open modal</button>
  </div>
</div>
<app-modal></app-modal>
<router-outlet></router-outlet>

