@import "../styles.scss";

#add-btn {
  width: 125px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green-primary;
  color: $white-primary;
  margin: 5px;
  border-radius: 5px;
}

#content {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}



